*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
  color: #7d889e;
  line-height: 1.3;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  text-align: center;
}

.qr-comp {
  width: 20rem;
  background-color: #fff;
  padding: 1rem 1rem 2.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.qr-comp img {
  border-radius: 10px;
  margin-bottom: 1.6em;
}

.qr-comp h2 {
  color: #1f314f;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 0.7em;
}
